<section class="confidential">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-8">
                <div class="text-block">
                    <div class="text-block__h1-quote text-block__h1-quote_text-align_left text-block__h1-quote_confidential">
                        Политика конфиденциальности
                    </div>
                    <div class="text-block__simple-text text-block__simple-text_confidential">
                        Ваш браузер или программа-клиент могут отправлять в Экспекто информацию о вашем географическом расположении или параметрах вашего компьютера. Экспекто может использовать эти данные для составления общей статистики о своих клиентах.
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4">
                <div class="btn btn_margin-top_40">
                    <a href="#" class="btn__button js_politics-accept btn__button_size_small">Хорошо</a>
                </div>
                <div class="btn btn_margin-left_20 btn_margin-top_40">
                    <a target="_blank" href="/expecto_oferta.pdf" class="btn__button btn__button_size_small">Подробнее</a>
                </div>
            </div>
        </div>
    </div>
</section>