//Variables for all project

@screen-sm-min: 768px;
@text-decrease-time: .3s;
@base-font: 'MuseoSansLight', sans-serif;
@base-font-500: 'MuseoSans', sans-serif;
@base-font-700: 'MuseoSansBold', sans-serif;
@secondary-font: 'Open Sans', sans-serif;