//Common styles

@import url('_variables.less');
html {
  height: auto;
  min-height: 100%;
  font-family: @base-font;
  width:100%;
  overflow-x: hidden!important;
}
body {
  margin:0;
  height:auto;
  min-height:100%;
  width:100%;
  padding-right:0!important;
  background:#fff;
}
div {
  position:relative;
  overflow:visible;
  font-family:@base-font;
  color: #eff8ff;
  font-size:16px;
  line-height:24px;
  width:auto;
  height:auto;
}
.clr {
  clear:both;
  height:1px;
  line-height:1px;
  width:100%;
}
div, section, header, footer, input, textarea, button, a, li {
  box-sizing:border-box;
}
section {
  display: block;
  position: relative;
  overflow-x: hidden;
}
p, a, li, input, label, button, td, th {
  font-family:@base-font;
  color: #232323;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
}
h1, h2, h3 {
  font-weight: 300;
}
a {
  text-decoration:none;
  color: #fff;
}
a:hover {
  text-decoration:none;
}


@media screen and (max-width: 768px) {

}
