.header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 20px;
  padding-bottom: 18px;
  transition: all 0.7s linear;
  @media screen and (max-width: 768px) {
    padding-top: 15px;
    padding-bottom: 15px;
    background: linear-gradient(180deg, #27348b 0%, rgba(66, 84, 175, 0.57) 74%, rgba(79, 100, 191, 0) 100%);
  }
  &__logo {
    @media screen and (max-width: 768px) {
      text-align: center;
    }
    path,
    use {
      transition: all 0.7s linear;
      fill: #ffffff;
    }
  }
  &__phone-link {
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    margin-top: 1px;
    width: 23px;
    height: 23px;
    path,
    use {
      transition: all 0.7s linear;
      fill: #ffffff;
    }
  }
  &__phone-block {
    line-height: 16px;
    padding-top:6px;
  }
  &__phone,
  &__phone a {
    color: #ffffff;
    font-size: 17px;
    line-height: 17px;
    transition: color 0.7s linear;
    @media screen and (max-width: 768px) {
      font-size: 16px;
      line-height: 16px;
    }
  }
  &__city {
    color: #ffffff;
    font-family: @secondary-font;
    font-size: 12px;
    font-weight: 600;
    line-height: 14px;
    text-decoration: none;
    //border-bottom: 1px dashed #fff;
    transition: color 0.7s linear;
    &:hover {
      border-bottom: none;
    }
  }
  &__control-part {
    text-align: right;
    padding-top: 4px;
    padding-bottom: 4px;
  }
  &_dark {
    background: rgba(232, 234, 245, 0.8);//#e8eaf5;
    .header__logo path,
    .header__logo use {
      fill: #27348b;
    }
    .header__phone {
      color: #4d4f5e;
    }
    .header__city {
      color: #27348b;
      border-color: #27348b;
    }
    .header__phone-link {
      use,
      path {
        fill: #27348b;
      }
    }
  }
  .btn__button {
    transition-duration: 0.7s;
  }
}
//Всегда синяя шапка при прокрутке портянкой
.can-change-header .header,
.fp-responsive .header {
  transition: background 0.2s linear;
  &_scrolled {
    background: rgba(44, 66, 161, 0.95);
    @media screen and (max-width: 1550px) {
      background: linear-gradient(180deg, #27348b 0%, rgba(66, 84, 175, 0.57) 74%, rgba(79, 100, 191, 0) 100%);
    }
  }
}