.text-block {
  position: relative;
  display: block;
  text-align: left;
  margin-bottom: 20px;
  &_text-align {
    &_center {
      text-align: center;
    }
  }
  &__h1 {
    color: #ffffff;
    font-family: @base-font;
    font-size: 40px;
    letter-spacing: 2.22px;
    line-height: 56px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 5px;
    &_color {
      &_dark {
        color: #27348b;
      }
    }
    &_nomargin {
      margin-bottom: 0;
    }
    @media screen and (max-width: 768px) {
      font-size: 28px;
      line-height: 34px;
    }
  }
  &__h1-quote {
    color: #e2e9ff;
    font-family: @base-font;
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 20px;
    text-align: center;
    &_color {
      &_dark {
        color: #2d3569;
      }
    }
    &_text-align_left {
      text-align: left;
    }
    &_margin-bottom {
      &_5 {
        margin-bottom: 5px;
      }
      &_28 {
        margin-bottom: 28px;
      }
    }
    &_confidential {
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 5px;
      @media screen and (max-width: 768px) {
        font-size: 14px;
        line-height: 18px;
      }
    }
    @media screen and (max-width: 768px) {
      font-size:16px;
      line-height: 22px;
    }
  }

  &__h3 {
    color: #fff;
    font-family: @base-font;
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 11px;
    &_color {
      &_dark {
        color: #2d3569;
      }
    }
  }

  &__simple-text {
    color: #fff;
    font-family: @secondary-font;
    font-size: 14px;
    line-height: 22px;
    &_color {
      &_dark {
        color: #393939;
      }
    }
    &_confidential {
      font-size:12px;
      line-height: 16px;
    }
    &_font-size_16 {
      font-size: 16px;
      line-height: 20px;
    }
    &_confidential {
      @media screen and (max-width: 768px) {
        font-size: 10px;
        line-height: 14px;
      }
    }
    a {
      color: #fff;
      font-size: 14px;
      line-height: 16px;
      font-family: @secondary-font;
      text-decoration: underline;
      transition: opacity 0.2s linear;
      &:hover {
        opacity: 0.7;
      }
    }
  }
  &__bold-text {
    color: #4d4f5e;
    font-family: @base-font-500;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
  }
  &__light-text {
    opacity: 0.73;
    color: #4d4f5e;
    font-family: @secondary-font;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
  }
  &__header {
    margin-bottom: 7px;
  }
}