<section class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="text-block">
                    <div class="text-block__h1">
                        //=h1
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>